node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
# typechain-types now tracked in git for consistency

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
/openzeppelin-contracts
