@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: dark; }
html, body, #app { height: 100%; }
body { @apply bg-surface text-gray-200; }

/* Ensure app uses full viewport width similar to legacy */
#app { width: 100%; }
.bg-panel { background-color: #2b2b2b; }


