@media (min-width: 1200px) {
  /* change this, by default 1140px */
  .container {
    max-width: 90%;
  }
}

#decentChart {
  max-width: 600px;
}

body .notyf {
  z-index: 9999 !important;
}

input[type='radio'] {
  margin-top: -3px;
  vertical-align: middle;
}

.dotted {
  border-bottom: 1px dashed #999;
  text-decoration: none;
}

.tpstrend {
  position: fixed;
  top: 92%;
  left: 10px;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.loader-box {
  display: inline-block;
  height: 8px;
  width: 8px;
  margin: 0px 2px;
  background-color: rgb(0, 146, 255);
  animation-name: fadeOutIn;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.loader-box:nth-child(1) {
  animation-delay: 250ms;
} /* (1/2) * <animation-duration: 500ms */
.loader-box:nth-child(2) {
  animation-delay: 500ms;
} /* (2/2) * <animation-duration: 500ms */
.loader-box:nth-child(3) {
  animation-delay: 750ms;
} /* (3/2) * <animation-duration: 500ms */

@keyframes fadeOutIn {
  0% {
    background-color: rgba(0, 146, 255, 1);
  }
  100% {
    background-color: rgba(0, 146, 255, 0);
  }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;

  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 979px) {
  li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

u.dotted {
  border-bottom: 1px dashed #999;
  text-decoration: none;
}

.list-item {
  display: inline-block;
  margin-right: 10px;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all 0.1s ease;
}
.slide-fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.1, 0.2, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.list-enter-active,
.list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(-10px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.small-input {
  display: inline;
}

.form-signin {
  /*max-width: 800px;*/
  padding: 20px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 32px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type='email'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type='password'] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
